*,
*::before,
*::after {
 		box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.header { 
    display: flex;
    align-items: center;
    padding: 24px 64px;
    background-color: #1F2937;
    color: white;
}

.header > .logo {
    margin-left: 0;
    margin-right: auto;
}

.header_links > ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

/* Box_one layout: */

.content_box_one {
    background-color: #1F2937;
    display: flex;
    padding: 24px 64px;
    height: 500px;
    gap: 24px;
}

.content_box_one > div {
    flex: 1;
    border-radius: 24px;
    color: white;
    display: flex;
}

.box_one_left {
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    padding: 24px 8px;
}

.box_one_left > button {
    border-style: none;
    width: 100px;
    padding: 8px 0px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}

.box_one_right {
    justify-content: center;
}

.box_one_right > img {
    flex: 1;
    max-width: 100%;
    border-radius: 24px;
}

/* Box two layout: */


.content_box_two {
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px 64px;
    border: 5px solid red;
}

.content_box_two > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 5px solid green;
}