*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.header { 
    display: flex;
    align-items: center;
    padding: 24px 64px;
    background-color: #1F2937;
    color: white;
}

.header > .logo {
    margin-left: 0;
    margin-right: auto;
}

.header_links > ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

/* Box one layout: */

.content_box_one {
    background-color: #1F2937;
    display: flex;
    padding: 24px 64px;
    height: 500px;
    gap: 24px;
}

.content_box_one > div {
    flex: 1;
    border-radius: 24px;
    color: white;
    display: flex;
}

.box_one_left {
    flex-direction: column;
    justify-content: center;
    row-gap: 16px;
    padding: 24px 8px;
}

.box_one_left > button {
    border-style: none;
    width: 100px;
    padding: 8px 0px;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}

.box_one_right {
    justify-content: center;
}

.box_one_right > img {
    flex: 1;
    max-width: 100%;
    border-radius: 24px;
}

/* Box two layout: */


.content_box_two {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    align-items: space-between;
    gap: 24px;
    padding: 24px 64px;
}

.content_box_two > div {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.careers_pictures > .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    height: 100%;
    max-width: 300px;
    color: rgba(74, 74, 74, 0.661);
}

.card > div {
    max-width: 75%;
    max-height: 75%;
    width: 200px;
    height: 200px;
    text-align: center;
    display: flex;
}

.image > img {
    border: 5px solid #3882F6;
    max-width: 100%;
    flex: 1;
    border-radius: 12px;
}

/* Box three layout: */

.content_box_three {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 24px 64px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.turing {
    font-weight: bold;
    text-align: end;
    font-size: 24px;
}

/* Box four layout: */

.content_box_four {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 24px 64px;
}

.call_to_action {
    background-color: #3882F6;
    color: white;
    max-width: 65%;
    max-height: 85%;
    min-height: 65%;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36%;
    padding: 24px 64px;
}

.call_to_action > button {
    background-color: transparent;
    color: white;
    font-size: large;
    border: 2px solid white;
    border-radius: 8px;
    padding: 12px;
    font-weight: bold;
    min-width: 25%;
}

.call_to_action > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.four_title {
    font-weight: bold;
    font-size: 24px;
}

.four_comment {
    color: #E5E7EB;
    font-size: 18px;
}

/* footer: */

.footer {
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: white;
}